argcomplete==3.6.0
asgiref==3.8.1
Django==5.1.7
djangorestframework==3.15.2
gunicorn==23.0.0
Markdown==3.7
packaging==24.2
pipx==1.7.1
psycopg2-binary==2.9.10
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.12.2
userpath==1.9.2
